<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSChess</title>
    <link rel="stylesheet" href="/assets/mtt-jschess.min.css">
</head>
<body>
<div class="board">
{{#each rows as |row|}}
    <div class="row">
    {{#each ../cells as |cell|}}
        <div id="f_{{row}}{{cell}}" class="cell"></div>
    {{/each}}
    </div>
{{/each}}
</div>
<div hidden>
    {{> pawn.svg color="w"}}
    {{> pawn.svg color="b"}}
    {{> rook.svg color="w"}}
    {{> rook.svg color="b"}}
</div>
<script src="/assets/mtt-jschess.min.js"></script>
</body>
</html>
